<!-- Footer area Start -->
<footer class="footer pt-100 pb-0">
    <div class="container">
        <div class="text-center">
            <a href="/" class="logo mb-32">
                <img src="{{ url_for('static', filename='media/logo-dark.png') }}" class="light" alt="" />
                <img src="{{ url_for('static', filename='media/logo-light.png') }}" class="dark" alt="" />
            </a>
            <p class="fw-4 fs-13 lh-120 color-dark-2 mb-32">
                A weather app that provides accurate and up-to-date weather <br />
                information for users, built on flask.
            </p>
            <ul class="icon list-unstyled">
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
            </ul>
            <p class="fw-4 fs-13 color-dark-2 copyright m-0">©2023 <a href="https://uiparadox.co.uk/templates/thunderpro-v2/index-1.html">html template by - WeatherPro</a>, All Rights Reserved.</p>
        </div>
    </div>
</footer>
<!-- Footer area End -->