<!-- Header Area Start -->
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">
            <a class="navbar-brand light-logo" href="/">
                <img alt="" src="{{ url_for('static', filename='media/logo-dark.png') }}" />
            </a>
            <a class="navbar-brand dark-logo" href="/">
                <img alt="" src="{{ url_for('static', filename='media/logo-light.png') }}" />
            </a>
        </nav>
    </div>
</header>
<!-- Header Area end -->
